# Class Files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE-Directories
.idea/

#Output
target/
output/
out/

#Other
config.pref
updateCache.pref
RPG Maker MV Decrypter.iml
pom.xml
